*{
    padding: 0;
    margin: 0;
}

body{
    overflow-x: hidden;
}

.cursor-pointer{
    cursor: pointer;
}

.cursor-default{
    cursor: default;
}

.min-w-100vw{
    min-width: 100vw;
}

.max-w-100vw{
    max-width: 100vw;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

/* input[type=number] {
    -moz-appearance: textfield;
} */

.text-justify{
    text-align: justify;
}