:root {
    --blue-DBE9F4: #DBE9F4;
    --blue-303D57: #303D57;
    
    --black: #000000;
    --white: #FFFFFF;
    --gray-light: #D3D3D3;
    --gray-medium: #A9A9A9;
    --gray-dark: #666666;

    --red: #FF0000;
    --green: #00FF00;
    --blue: #0000FF;
    --yellow: #FFFF00;
    --orange: #FFA500;
    --purple: #800080;
    --pink: #FFC0CB;

}
.bg-one{
    background-color: var(--blue-DBE9F4);
}

.bg-two{
    background-color: var(--blue-303D57);
}

.text-blue-DBE9F4{
    color: var(--blue-DBE9F4);
}

.text-blue-303D57{
    color: var(--blue-303D57);
}

.border-color-303D57{
    border-color: var(--blue-303D57);
}