@import url('bootstrap.min.css');
@import url('color.css');
@import url('font.css');
@import url('basic.css');

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.global-navigation-top{
    width: 80%;
    overflow: hidden;
    top: 75px;
    right: 20px;
    z-index: 999;
}

.login-header{
    transition: .5s;
}

.login-header .row-card{
    border: 5px solid #303D57;
    overflow: hidden;
}

.sign-form {
    transition: 1s;
}

.sign-form input:focus {
    outline: none;
    box-shadow: none;
}

button{
    border: none;
}